    <blockquote>
      <div class="page-header">
        <h1>Payment</h1>
      </div>

      <p class="lead">A <%= @term %> year loan of <%= number_to_currency(@loan, precision: 0) %>, with an annual interest rate of <%= number_to_percentage(@rate.to_f/100, precision: 2) %>, requires a monthly payment of <%= number_to_currency(@payment) %>.</p>
    </blockquote>
